/* Basics */
.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}


/* Override Hyde/Poole */
@media (min-width: 48em) {
  .content, .container {
    max-width: none;
  }
}

@media (min-width: 48em) {
  .sidebar {
    width: 20rem;
    height: 100vh;
    overflow-y: auto;
    padding-top:4rem;
  }
}

/* From Bootstrap */
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    display: flex;
    justify-content: space-between;
}

.btn-social {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    line-height: 2.5em;
}

.btn-outline {
    margin-top: 3vh;
    border: solid 2px #fff;
    font-size: 1em;
/*    transition: all .3s */
    background: #fff;
}
a.btn-outline {
    color: inherit;
}
.transform li a:hover i {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.transform i {
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;
	-o-transition: all 0.9s;
	-ms-transition: all 0.9s;
	transition: all 0.9s;
}

/* Custom */

/*a, .sidebar {
    transition: all .3s ease-in-out;
}*/

.sidebar a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.sidebar a:active {
    opacity: 0.5;
    text-decoration: none;
}

#credits {
  font-size: 0.8em;
}

#credits a {
    opacity: 0.75;
    text-decoration: none;
}

/*a.btn-outline:active,*/
a.btn-outline:hover {
    opacity: .75;
    background: 0;
    color: #fff;
}

a.btn-outline:active {
    opacity: 1;
    background: #fff;
    color: inherit;
}

.blog-nav {
    margin-top: -2em;
    margin-bottom: .5em;
    /*font-size: .75em;*/
    text-align: center;
}

.page-title {
    padding-bottom: 1em;
}

.post-subtitle {
    color: #515151;
    margin-top: -.5em;
    margin-bottom: 1em;
}



/* this does some magic that preserves the 8.5x11" aspect ratio */
.slide-container {
    height: 0;
    width: 100%;
    padding-bottom: 72%; /* 11/8.5 = 1.2941 */
    overflow: hidden;
    position: relative;
}

.slide-container object {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* IMAGES & CAPTIONS */
img {
  /* alt-text styling */
  font-size: .75rem;
  font-style: italic;
  font-family: Menlo, Monaco, "Courier New", monospace;
}
.caption {
  font-size: .75rem;
  font-style: normal;
}
.credit {
  font-size: .6rem;
  font-style: italic;
}

/* CODE */
code {
  color: inherit; /* code color matches text or link/title color */
  white-space: nowrap;
}
pre > code, .code > pre {
  white-space: pre; /* only code in <pre> blocks is allowed to wrap */
}
pre {
  overflow-x: scroll;
  padding: 5px;
  white-space: pre;
}
.lineno {
  word-break: keep-all;
  padding: 0;
  color: rgb(180,180,180);
}
code > table {
  margin-bottom: 0;
}
code table, code td {
  border: none;
}
figure {
  margin: 0;
}



/* Red */
.theme-base-08 #sidebar-buttons {
  color: #ac4142;
}

/* Orange */
.theme-base-09 #sidebar-buttons {
  color: #d28445;
}

/* Yellow */
.theme-base-0a #sidebar-buttons {
  color: #DCAC69; /*#f4bf75;*/
}

/* Green */
.theme-base-0b #sidebar-buttons {
  color: #90a959;
}

/* Cyan */
.theme-base-0c #sidebar-buttons {
  color: #75b5aa;
}

/* Blue */
.theme-base-0d #sidebar-buttons {
  color: #6a9fb5;
}

/* Magenta */
.theme-base-0e #sidebar-buttons {
  color: #aa759f;
}

/* Brown */
.theme-base-0f #sidebar-buttons {
  color: #8f5536;
}

/* Black (no class on body - Poole defaults) */
#sidebar-buttons {
  color: #000000;
}
