<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Hub</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.baseurl }}Oldhub" target="_blank">Old Site</a>
      <a class="sidebar-nav-item" href="{{ site.github.cv }}" target="_blank">Curriculum Vitae</a>
<!--      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>  -->
    </nav>
    <ul class="list-inline transform" id="sidebar-buttons">   <!--social social-circle -->
        <li>
            <a href="{{ site.author.instagram }}" target="_blank" class="btn-social btn-outline " title="Instagram">
                <i class="fa fa-fw fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="{{ site.author.github }}" target="_blank" class="btn-social btn-outline" title="GitHub">
                <i class="fa fa-fw fa-github"></i>
            </a>
        </li>

        <li>
            <a href="{{ site.author.twitter }}" target="_blank" class="btn-social btn-outline" title="Twitter">
                <i class="fa fa-fw fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="{{ site.author.linkedin }}" target="_blank" class="btn-social btn-outline" title="LinkedIn">
                <i class="fa fa-fw fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="{{ site.author.freecodecamp }}" target="_blank" class="btn-social btn-outline" title="FreeCodeCamp">
                <i class="fa fa-free-code-camp"></i>
            </a>
        </li>


    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. No rights reserved.</p>
<!--    <div class="copyright">
        Handmade with <span style="color:#e00"><i class="fa fa-heart-o"></i></span>
        using <a href="http://jekyllrb.com">Jekyll</a> &middot; <i class="fa fa-code"></i>
         on <a href="https://github.com/heiswayi/heiswayi.github.io">GitHub</a> <i class="fa fa-github-alt"></i>
    </div>  -->
  </div>
</div>
